mat-toolbar {
    color: #ECDFC9;
    background-color: #3A3E40;
    justify-content: space-between
}

.logo {
    font-size: 36px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.status-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.status-container h1 {
    font-size: 22px;
    width: fit-content;
    margin: auto;
}

.status {
    display: flex;
    height: 32px;
    width: 32px;
    border-radius: 16px;
}

@media (max-width: 768px) {
    .logo {
        font-size: 24px;
    }

    .status-container h1 {
        font-size: 14px;
    }
}