.container {
    margin: 20px 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

table {
    width: 1350px;
    border-collapse: collapse;
}

th,
td {
    width: 150px;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    background-color: #464B4B;
    color: #ECDFC9;
    font-size: 20px;
}

th {
    width: 150px;
    background-color: #3A3E40;
    color: #ECDFC9;
}