<div class="container">
    <table [ngStyle]="{ 'display': groupedByRoster.length != 0 ? 'table' : 'none' }">
        <thead>
            <tr>
                <th></th>
                <th *ngFor="let roster of groupedByRoster">{{ roster }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let raid of raids">
                <td>{{ raid.name }}</td>
                <td *ngFor="let value of raid.values">{{ value }}</td>
            </tr>
        </tbody>
    </table>
</div>