.container {
    margin: 20px auto;
    display: flex;
    width: 1350px;
}

table {
    width: 1350px;
    border-collapse: collapse;
}

th,
td {
    width: 150px;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    color: #ECDFC9;
    font-size: 20px;
}

th {
    background-color: #3A3E40;
    color: #ECDFC9;
}

tr:nth-child(odd) {
    background-color: #464B4B;
}

tr:nth-child(even) {
    background-color: #595f5f;
}

.role-container {
    display: flex;
    justify-content: space-evenly;
}

.role-container .dps {
    background-color: rgb(109, 28, 3);

}

.role-container .supp {
    background-color: rgb(67 109 3);
}

.circle {
    width: 15px;
    height: 15px;
    padding: 7.5px;
    border-radius: 17px;
    text-shadow: -1px -1px 0 #515757, 1px -1px 0 #515757, -1px 1px 0 #515757, 1px 1px 0 #515757;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hide {
    display: none;
}

.raidLevel {
    margin: 0px;
    color: chartreuse;
}

@media (max-width: 1080px) {
    .container {
        width: 1000px;
    }

    table {
        overflow: scroll;
    }

    th,
    td {
        width: 100px;
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 650px;
        overflow-x: scroll;
    }

    th,
    td {
        width: 100px;
        font-size: 16px;
    }
}

@media (max-width: 430px) {
    .container {
        width: 400px;
        overflow-x: scroll;
    }

    th,
    td {
        width: 100px;
        font-size: 16px;
    }
}