.container {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    max-width: 1200px;
    margin: auto;
}

.roster-container {
    text-align: center;
}

.roster-header {
    color: #ECDFC9;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #3A3E40;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.roster-header h1 {
    display: flex;
}

.roster {
    background-color: #3A3E40;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    gap: 15px;
    padding-bottom: 15px;
}

.character {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 16px;
    display: block;
    background-color: #464B4B;
    flex: 1 1 calc(50% - 30px);
    box-shadow: -7px 6px 7px rgb(77 79 86 / 20%);
}

.character:nth-child(odd) {
    margin-left: 15px;
}

.character:nth-child(even) {
    margin-right: 15px;
}

.character .level {
    color: #ECDFC9;
    border-bottom-left-radius: 16px;
    background-color: #464B4B;
    font-weight: 800;
}

.character .name {
    color: #ECDFC9;
    border-top-left-radius: 16px;
    justify-content: flex-start;
    font-size: 20px;
    background-color: #464B4B;
    font-weight: 600;
}

.character .class {
    font-size: 14px;
    color: #c2b8a8;
    background-color: #515757;
    font-weight: 200;
}

.character .classImg {
    border-radius: 0 16px 16px 0;
    background-color: #515757;
}

.classImg img {
    height: 50px;
}