a {
    all: unset;
}

* {
    color: #ECDFC9;
}

.container {
    padding-top: 8px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    max-width: 1200px;
    margin: auto;
}

.roster-container {
    text-align: center;
    background-color: gold;
}

.roster-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3A3E40;
    /* fallback */

    min-height: 170px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-shadow: -1px -1px 0 #515757, 1px -1px 0 #515757, -1px 1px 0 #515757, 1px 1px 0 #515757;
    border-radius: 16px;
}

.roster-header h1 {
    display: flex;
}

.roster {
    background-color: #3A3E40;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.character {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 16px;
    display: block;
    background-color: #464B4B;
    flex: 1 1 calc(50% - 30px);
    box-shadow: -7px 6px 7px rgb(77 79 86 / 20%);
}

.character:nth-child(odd) {
    margin-left: 15px;
}

.character:nth-child(even) {
    margin-right: 15px;
}

.character .level {
    border-bottom-left-radius: 16px;
    background-color: #464B4B;
    font-weight: 800;
}

.character .uwu {
    border-top-right-radius: 16px;

    background-color: #464B4B;
    font-weight: 800;
}

.character .uwu:hover {
    cursor: pointer;
}

.character .name {

    border-top-left-radius: 16px;
    justify-content: flex-start;
    font-size: 20px;
    background-color: #464B4B;
    font-weight: 600;
}

.character .classImg {
    border-radius: 0 0 16px 0;
    background-color: #515757;
}

.character .combat {
    font-size: 16px;
    background-color: #515757;
    font-weight: 800;
}

.character .combat img {
    padding-right: 4px;
    object-fit: contain;
}

.classImg img {
    height: 50px;
    width: 50px;
    object-fit: contain;
}

.levelChanges {
    background-color: rgb(67 109 3);
    margin: 4px;
    padding: 2px;
    border-radius: 5px;
    font-size: 14px;
    text-shadow: -1px -1px 0 #515757, 1px -1px 0 #515757, -1px 1px 0 #515757, 1px 1px 0 #515757;
}

.event-container {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
}

.event-container .event-header-containter {
    width: 100%;
    height: 32px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    gap: 6px;

    align-items: flex-end
}

.event-container .event-header-containter .event-header {
    display: flex;
}

.event-container .event-header-containter .event-header-text-containter {
    height: 40px;
    display: flex;
    border-radius: 8px 0 0 8px;
    background-color: #3A3E40;
}

.event-container .event-header-containter .event-header-filter-containter {
    height: 40px;
    padding-right: 5px;
    display: flex;
    border-radius: 0 8px 8px 0;
    background-color: #3A3E40;
}

.event-container .event-header-containter .event-header-text {
    font-size: 20px;
    padding: 8px;
    border-radius: 8px;
}

.event-container .event-header-containter .event-header-filter {
    background-color: #6d7174dc;
    font-size: 14px;
    margin: auto;
    padding: 8px;
}

.event-container .event-header-containter .event-header-filter:hover {
    cursor: pointer;
}

.event-container .event-header-containter .event-header-filter:first-child {
    border-radius: 8px 0 0 8px;
}

.event-container .event-header-containter .event-header-filter:last-child {
    border-radius: 0 8px 8px 0;
}

.event-container .event-header-containter img {
    height: 64px;
    margin-top: -32px;
}

.event {
    display: flex;
    height: 32px;
    margin: 4px 6px;
}

.event .name-container {
    height: inherit;
    display: flex;
    align-items: center;
    background-color: #515757;
    border-radius: 8px 0 0 8px;
}

.event .name-container:hover {
    cursor: pointer;
}

.event .name-container span {
    font-size: 20px;
    font-weight: 600;
    padding: 0 4px 0 8px;
}

.event .level-container {
    height: inherit;
    display: flex;
    align-items: center;
    background-color: rgb(67 109 3);
    border-radius: 0 8px 8px 0;
}

.event .level-container span {
    font-size: 14px;
    text-shadow: -1px -1px 0 #515757, 1px -1px 0 #515757, -1px 1px 0 #515757, 1px 1px 0 #515757;
    padding: 0 8px 0 4px;
}

.active-button {
    background-color: rgb(67 109 3) !important;
}

.filters-container {
    padding-top: 16px;
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: flex-end;
}

.filter-button {
    height: 16px;
    display: flex;
    align-items: center;
    background-color: #6d7174dc;
    font-size: 14px;
    padding: 8px;
}

.filter-button:hover {
    cursor: pointer;
}

.filter-button:first-child {
    border-radius: 16px 0 0 16px;
}

.filter-button:last-child {
    border-radius: 0 16px 16px 0;
}

.average-level {
    background-color: rgb(67 109 3);
    border-radius: 16px;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 6px;
}

.hide {
    display: none;
}

@keyframes blinkHighlight {
    0% {
        background-color: transparent;
    }

    50% {
        background-color: rgb(67 109 3);
    }

    100% {
        background-color: transparent;
    }
}

.highlight {
    animation: blinkHighlight 1s ease-in-out 4;
}

/* Vertical monitor */
@media (max-width: 1080px) {
    .event-container {
        max-width: 1000px;
    }

    .container {
        grid-template-columns: repeat(2, 1fr);
        max-width: 1000px;
    }

    .filters-container {
        max-width: 1000px;
    }
}

/* Phone */
@media (max-width: 768px) {
    .event-container {
        max-width: 600px;
    }

    .container {
        grid-template-columns: repeat(1, 1fr);
        max-width: 600px;
    }

    .filters-container {
        max-width: 600px;
    }
}

@media (max-width: 430px) {
    .event-container {
        max-width: 400px;
    }

    .container {
        grid-template-columns: repeat(1, 1fr);
        max-width: 400px;
    }

    .filters-container {
        max-width: 400px;
    }

    .character .name {
        font-size: 16px;
    }

    .character .class {
        font-size: 12px;
    }

    .classImg img {
        width: 35px;
    }
}

@media (max-width: 360px) {
    .event-container {
        max-width: 330px;
    }

    .container {
        grid-template-columns: repeat(1, 1fr);
        max-width: 330px;
    }

    .filters-container {
        max-width: 330px;
    }

    .character .name {
        font-size: 16px;
    }

    .character .class {
        font-size: 12px;
    }

    .classImg img {
        width: 35px;
    }
}