<div class="event-container">
    <div class="event-header-containter" [ngStyle]="{ 'display': charactersHistory.length != 0 ? 'flex' : 'none' }">
        <img src="ArtistCaught.png" alt="">
        <div class="event-header">
            <div class="event-header-text-containter">
                <span class="event-header-text">Sneaky Honers</span>
            </div>
            <div class="event-header-filter-containter">
                <span class="event-header-filter" (click)="onFilterChange('day')"
                    [ngClass]="{ 'active-button': 'day' == currentFilter }">Day</span>
                <span class="event-header-filter" (click)="onFilterChange('weekly')"
                    [ngClass]="{ 'active-button': 'weekly' == currentFilter }">Week</span>
            </div>
        </div>
        <img src="ArtistCaught.png" alt="">
    </div>
    <ng-container *ngFor="let character of filteredHistory">
        <div class="event">
            <div class="name-container"><a href="#{{character.CharacterName}}"
                    (click)="addHighlightClass(character.CharacterName)"><span>{{ character.CharacterName
                        }}</span></a></div>
            <div class="level-container"><span>{{ getLevelChanges(character.CharacterName, false) }}</span></div>
        </div>
    </ng-container>
</div>

<div class="filters-container">
    <span class="filter-button" (click)="onRosterFilterChange('Highest')"
        [ngClass]="{ 'active-button': 'Highest' == currentRosterFilter }">Highest</span>
    <span class="filter-button" (click)="onRosterFilterChange('Average')"
        [ngClass]="{ 'active-button': 'Average' == currentRosterFilter }">Average</span>
    <span class="filter-button" (click)="onRosterFilterChange('Lowest')"
        [ngClass]="{ 'active-button': 'Lowest' == currentRosterFilter }">Lowest</span>
</div>

<div class="container">
    <div class="roster-container" *ngFor="let name of rosterNames">
        <div class="roster-header" [ngStyle]="{ 'background-image': 'url(' + banner[name] + ')' }">
            <h1>{{ name }}</h1>
            <span class="average-level"
                [ngClass]="{hide: 'Average' !== currentRosterFilter }">{{averageRosterLevel[name]}}</span>
        </div>
        <div class="roster">
            <ng-container *ngFor="let character of groupedData[name]" class="character">
                <mat-grid-list cols="3" rowHeight="30px" class="character">
                    <mat-grid-tile [id]="character.CharacterName" class="name" [colspan]="2" [rowspan]="1">
                        {{ character.CharacterName }}
                    </mat-grid-tile>
                    <mat-grid-tile class="uwu" [colspan]="1" [rowspan]="1">
                        <a href="https://uwuowo.mathi.moe/character/CE/{{character.CharacterName}}"
                            target="_blank">Gear</a>
                    </mat-grid-tile>
                    <mat-grid-tile class="class" [colspan]="2" [rowspan]="1">
                        {{ character.ClassName }}
                    </mat-grid-tile>
                    <mat-grid-tile class="classImg" [colspan]="1" [rowspan]="2">
                        <img [src]=displayClassImg(character.ClassName) alt="">
                    </mat-grid-tile>
                    <mat-grid-tile class="level" [colspan]="2" [rowspan]="1">
                        {{ character.Level }}<span [class.levelChanges]="isCharacterChanged(character.CharacterName)">{{
                            getLevelChanges(character.CharacterName, true, character.Level) }}</span>
                    </mat-grid-tile>
                </mat-grid-list>
            </ng-container>
        </div>
    </div>
</div>