a {
    all: unset;
}

.not-found-container {
    display: flex;
    flex-direction: column;
    color: #ECDFC9;
    font-size: 10px
}

.not-found-container img {
    width: 50%;
    margin: auto;
}

.not-found-container p {
    font-size: 24px;
    margin: auto;
    margin-bottom: 6px;
}

.gif-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.spinner {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    --mat-sys-primary: #eba563;
}

.gif-container img {
    display: block;
}

.go-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ECDFC9;
    color: #464B4B;
    border: none;
    padding: 10px;
    border-radius: 5px;
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
}

.go-to-top:hover {
    opacity: 1;
}